
<div id="sidebar" class="<%= sidebar_classes %>">
  <%= render 'search_sidebar' %>
</div>

<div id="content" class="<%= main_content_classes %>">
  <h2><%= @facet.label %> index</h2>
  <p>Starting point: "<%= params[:q] %>"</p>
  <p>Browsing headings over a set of <strong><%= number_with_delimiter(@response.total_count) %></strong> records</p>

  <%= render 'constraints' %>

  <div id="sortAndPerPage" class="clearfix">
    <%= render :partial => "browse_paginate", :object => @display_facet_window, :locals => { :doc_centric => true } %>
    <div class="pull-right">
      <%= render :partial => "browse_per_page" %>
    </div>
  </div>

  <ul class="facet-values list-unstyled">
    <% @display_facet_window.items.each do |facet_item| %>
        <li>
        <span class="facet-label">
        <%= link_to(facet_item.value, search_path_for_xfacet(@facet, facet_item.value), :class=>"facet_select") %>
          (<%= xfacet_record_count(facet_item.hits) %>)
        </span>
        </li>
        <% if facet_item.docs.count > 0 %>
            <% facet_item.docs.each do |doc_id, doc_hash| %>
                <li>
            <span class="facet-label" style="padding-left: 4em;">
            <%= doc_id %>: URL <%= url_for_document(doc_id) %>
            </span>
                </li>
            <% end %>
        <% end %>
    <% end %>
  </ul>
</div>
