
<div id="sidebar" class="<%= sidebar_classes %>">
    <%= render 'search_sidebar' %>
</div>

<div id="content" class="<%= main_content_classes %>">
  <h2><%= @facet.label %> index</h2>
  <p>Starting point: "<%= params[:target] %>"</p>
  <p>Browsing headings over a set of <strong><%= number_with_delimiter(@response.total_count) %></strong> records</p>

  <%= render 'constraints' %>

  <div id="sortAndPerPage" class="clearfix">
    <%= render :partial => "xbrowse_paginate", :object => @display_facet %>
    <div class="pull-right">
      <%= render :partial => "xbrowse_per_page" %>
    </div>
  </div>

  <ul class="facet-values list-unstyled">
  <% @display_facet.items.each do |facet_item| %>
      <li>
        <span class="facet-label">
        <%= link_to(facet_item.value, search_path_for_xfacet(@facet, facet_item.value), :class=>"facet_select") %>
        (<%= xfacet_record_count(facet_item.hits) %>)
        </span>

      <% if facet_item.refs.count > 0 %>
      <ul class="list-unstyled">
      <% facet_item.refs.each do |ref| %>
          <% facet_item.ref_names_and_counts(ref).each do |ref_value, count| %>
          <li style="margin-left: 4em;">
          <%= ref.humanize.capitalize %>: <%= link_to ref_value, search_path_for_xfacet(ref_value) %> (<%= xfacet_record_count(count) %>)
          </li>
          <% end %>
      <% end %>
      </ul>
      <% end %>

      </li>
  <% end %>
  </ul>
</div>
