
<div id="sidebar" class="<%= sidebar_classes %>">
    <%= render 'search_sidebar' %>
</div>

<div id="content" class="<%= main_content_classes %>">
  <h2><%= @facet.label %> index</h2>
  <p>Starting point: "<%= params[:q] %>"</p>
  <p>Browsing headings over a set of <strong><%= number_with_delimiter(@response.total_count) %></strong> records</p>

  <%= render 'constraints' %>

  <div id="sortAndPerPage" class="clearfix">
    <%= render :partial => "browse_paginate", :object => @display_facet_window, :locals => { :doc_centric => false } %>
    <div class="pull-right">
      <%= render :partial => "browse_per_page" %>
    </div>
  </div>

  <ul class="facet-values list-unstyled">
  <% @display_facet_window.items.each do |facet_item| %>
      <li>
        <span class="facet-label">
        <%= render_xbrowse_result(facet_item, @facet) %>
        <%= xfacet_record_count(facet_item.hits) %>
        </span>
      </li>
      <% if facet_item.refs.count > 0 %>
        <% facet_item.refs.each do |ref| %>
            <% facet_item.ref_names_and_counts(ref).each do |ref_value, count| %>
            <li>
            <span class="facet-label" style="padding-left: 4em;">
            <%= xfacet_ref_type_display(ref) %>: <%= link_to ref_value, search_path_for_xfacet(@facet, ref_value) %> <%= xfacet_record_count(count) %>
            </span>
            </li>
            <% end %>
        <% end %>
      <% end %>
  <% end %>
  </ul>
</div>
